[Unit]
Description=Walker Application Launcher Service
After=elephant.service
Requires=elephant.service

[Service]
Type=simple
ExecStart=/usr/bin/walker --gapplication-service
Restart=on-failure

[Install]
WantedBy=graphical-session.target